
.blok{

    padding: 50px;
    background-color: silver;

}

#grid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

#container{
    max-width: 700px;
    display: flex;
}

.red{
    padding: 50px;
    background-color: red;
}

.blue{
    padding: 50px;
    background-color: blue;
}

.green{
    padding: 50px;
    background-color: green;
}